<!--
  Author: Jeraldine, Kevin
-->
<app-header-user></app-header-user>
<img
  src="../../assets/images/social_1.jpg"
  class="max-w-screen-xl m-auto opacity-80"
  alt="banner"
/>
<div
  class="bg-white p-6 ring ring-indigo-50 sm:p-8 max-w-screen-xl m-8 mx-auto rounded-3xl"
>
  <table class="w-full rounded-3xl">
    <tr>
      <td colspan="3" class="p-4 text-lg text-center bg-red-700">
        <span class="text-white pr-2">Postal Code : </span>
        <!--Iterates over the list of discussion room records (similar postal codes) and displays the information below-->
        <select
          class="py-2 px-4 text-red-700 rounded-3xl"
          [(ngModel)]="selected_dr_id"
          (change)="changeRoom()"
        >
          <option *ngFor="let rm of this.discussion_room_list" [value]="rm.id">
            {{ rm.fromPostal }}XXX to {{ rm.toPostal }}XXX
          </option>
        </select>
      </td>
    </tr>
    <tr *ngFor="let msg of this.message_list">
      <td class="w-1/5">
        <span class="ml-1 font-bold">@{{ msg.customer.username }} </span>
        <p class="ml-1">Sent on: ({{ msg.longDate | date : "short" }})</p>
      </td>
      <td colspan="2">
        <span class="ml-1">{{ msg.message }}</span>
        <!--:: Kevin: span tag below handles drag and drop uploads of files :: -->
        <span *ngIf="msg.fileMessage">
          <img
            src="http://localhost:8080/discussion-message-uploads/{{
              msg.fileMessage
            }}"
            style="width: 20%"
          />
        </span>
      </td>
    </tr>
    <!--container below handles the display of the text box and ensures it only appears on the last page -->
    <ng-container
      *ngIf="
        this.current_page == this.total_message_pages.length ||
        this.total_message_pages.length == 0
      "
    >
      <tr>
        <td colspan="3">
          <article
            class="flex bg-white transition hover:shadow-xl dark:bg-gray-500 dark:shadow-gray-800/25"
          >
            <div class="hidden sm:block sm:basis-56 w-1/5">
              <small
                >Users currently online:
                <button
                  class="group relative inline-block overflow-hidden border border-red-700 bg-white px-6 py-2 focus:outline-none focus:ring m-3"
                  *ngFor="let i of this.users_online; last as last"
                >
                  <span
                    class="absolute inset-x-0 bottom-0 h-[2px] bg-red-600 transition-all group-hover:h-full group-active:bg-red-500"
                  ></span>

                  <span
                    class="relative text-sm font-medium text-red-600 transition-colors group-hover:text-white"
                  >
                    @{{ i }}<span *ngIf="i == this.username"> (YOU)</span>
                  </span>
                </button>
              </small>
            </div>

            <div class="flex flex-1 flex-col justify-between bg-slate-300">
              <div
                class="border-l border-gray-900/10 p-4 dark:border-white/10 sm:!border-l-transparent sm:p-6"
              >
                <h3 class="font-bold uppercase text-gray-900 dark:text-white">
                  Your message here:
                </h3>
                <textarea
                  (keyup)="broadcastTypingStatus()"
                  [(ngModel)]="new_message"
                  class="w-full rounded-lg border-gray-200 p-3 text-sm"
                  placeholder="Message"
                  rows="8"
                ></textarea>
                <br /><br />
                <b *ngIf="this.users_typing.length > 0">
                  <span *ngFor="let user of this.users_typing; last as last">
                    @{{ user }}<span *ngIf="!last">, </span>
                  </span>
                  <span *ngIf="this.users_typing.length > 1; else elseBlock">
                    are
                  </span>
                  <ng-template #elseBlock> is </ng-template> typing...
                </b>
              </div>

              <div class="sm:flex sm:items-end sm:justify-end">
                <!--<a href="https://www.flaticon.com/free-animated-icons/email" title="email animated icons">Email animated icons created by Freepik - Flaticon</a>-->

                <button
                  class="block bg-red-500 px-5 py-3 text-center text-xs font-bold uppercase text-black transition hover:bg-red-700 m-5 rounded-full"
                  (click)="sendMessage()"
                >
                  <img
                    class="h-7 inline"
                    src="../../assets/images/email.png"
                    alt="email-logo"
                  />
                  Post Message
                </button>
              </div>
            </div>
          </article>
        </td>
      </tr>
      <tr>
        <td
          colspan="3"
          (dragover)="dragOver($event)"
          (dragleave)="dragLeave($event)"
          (drop)="drop($event)"
        >
          <br /><br />
          <div style="width: fit-content; margin: auto">
            <span *ngIf="this.is_dragging_file; else elseBlock">
              <b>Drop file to send</b>
            </span>
            <ng-template #elseBlock>
              <b>Drag file over here to upload and share</b>
            </ng-template>
          </div>
          <br /><br />
        </td>
      </tr>
    </ng-container>
    <!-- PAGINATION -->
    <tr>
      <td colspan="3">
        <div style="width: fit-content; margin: auto">
          <div class="pagination m-2">
            <a
              class="inline-block p-3 rounded-full border-red-700 text-red-600 hover:bg-red-600 hover:text-white focus:outline-none focus:ring active:bg-red-500"
              *ngIf="this.current_page > 1"
              (click)="changePage(this.current_page - 1)"
              >&laquo;</a
            >

            <a
              class="inline-block mx-4 p-3 rounded-full border-red-700 text-red-600 hover:bg-red-600 hover:text-white focus:outline-none focus:ring active:bg-red-500"
              *ngFor="let p of this.total_message_pages"
              [class.active]="p == this.current_page"
              (click)="p != this.current_page ? changePage(p) : null"
            >
              {{ p }}
            </a>

            <a
              class="inline-block mx-4 p-3 rounded-full border-red-700 text-red-600 hover:bg-red-600 hover:text-white focus:outline-none focus:ring active:bg-red-500"
              *ngIf="this.current_page < this.total_message_pages.length"
              (click)="changePage(this.current_page + 1)"
              >&raquo;</a
            >
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>
