.banner {
  background-image: url(../../assets/images/road_bg_2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: auto;
  height: 100vh;
}

.textbox {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 30px;
}

.car {
  max-width: 45%;
}

.piggy_bank, .friends {
  max-width: 35%;
}