<!-- Hero Banner -->
<section class="bg-gray-50 banner">
  <div
    class="mx-auto max-w-screen-xl px-4 py-32 lg:flex lg:h-screen lg:items-center"
  >
    <div class="mx-auto max-w-xl text-center">
      <div class="textbox py-5 px-5">
        <h1 class="text-3xl font-extrabold sm:text-5xl text-white">
          Make new acquaintances.
          <strong class="font-extrabold text-red-700 sm:block">
            Just Tompang.
          </strong>
        </h1>

        <p class="mt-4 sm:text-xl sm:leading-relaxed text-white">
          Never worry about high fees again.
        </p>

        <div class="mt-8 flex flex-wrap justify-center gap-4">
          <a
            class="block w-full rounded bg-red-600 px-12 py-3 text-sm font-medium text-white shadow hover:bg-red-700 focus:outline-none focus:ring active:bg-red-500 sm:w-auto"
            href="/login"
          >
            Log In
          </a>

          <a
            class="block w-full rounded bg-white px-12 py-3 text-sm font-medium text-red-600 shadow hover:text-red-700 hover:bg-slate-300 focus:outline-none focus:ring active:text-red-500 sm:w-auto"
            href="/register"
          >
            Register
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Services Logo -->
<section>
  <div class="mx-auto max-w-xl text-center">
    <h1 class="text-2xl font-extrabold sm:text-4xl py-5">
      <span
        class="relative font-medium text-black before:absolute before:-bottom-1 before:h-0.5 before:w-full before:scale-x-0 before:bg-red-600 before:transition hover:before:scale-x-100"
      >
        Why Us?</span
      >
    </h1>
  </div>

  <div
    class="px-4 py-16 mx-auto grid grid-cols-1 lg:grid-cols-3 gap-5 lg:gap-8 max-w-screen-xl"
  >
    <div class="mx-auto text-center lg:order-1 car-logo">
      <img
        src="../../assets/images/car_pollution.png"
        alt="car_pollution"
        (mouseover)="openOnMouseover()"
        (mouseleave)="closeOnMouseout()"
      />
      <p *ngIf="showText" class="text-center text-gray-500">
        <!-- <a href="https://www.flaticon.com/free-icons/co2-emission"
          >Icon created by Paul J. from www.flaticon.com</a
        > -->
        Do your part by reducing greenhouse emissions when you carpool.
      </p>
    </div>

    <div class="mx-auto text-center lg:order-2 piggy_bank-logo">
      <img
        src="../../assets/images/piggy_bank.png"
        alt="piggy_bank"
        (mouseover)="openOnMouseover()"
        (mouseleave)="closeOnMouseout()"
      />
      <p *ngIf="showText" class="text-center mt-6 text-gray-500">
        Getting a comfortable ride doesn't have to mean breaking the bank.
      </p>
    </div>

    <div class="mx-auto text-center lg:order-3 friends-logo">
      <img
        src="../../assets/images/friendship.png"
        alt="friendship"
        (mouseover)="openOnMouseover()"
        (mouseleave)="closeOnMouseout()"
      />
      <p *ngIf="showText" class="text-center mt-6 text-gray-500">
        <!-- <a href="https://www.flaticon.com/free-icons/co2-emission"
          >Icon created by Freepik from www.flaticon.com</a
        > -->
        Widen your network. Build communities. Strengthen bonds.
      </p>
    </div>
  </div>
</section>

<!-- Descriptions -->
<section>
  <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
      <div
        class="relative h-64 overflow-hidden rounded-lg sm:h-80 lg:order-last lg:h-full flex"
      >
        <img
          alt="earth_animation"
          src="../../assets/images/earth_animation.svg"
          class="absolute inset-0 h-full mx-auto object-cover"
        />
        <span class="mt-auto attribute-text"
          ><a href="https://storyset.com/nature"
            >Nature illustrations by Storyset</a
          ></span
        >
      </div>

      <div class="lg:py-24">
        <h2
          class="text-3xl font-bold sm:text-4xl relative text-black before:absolute before:-bottom-1 before:h-0.5 before:w-full before:origin-left before:scale-x-0 before:bg-red-600 before:transition hover:before:scale-100"
        >
          The Art of Reduction
        </h2>

        <p class="mt-4 text-gray-600">
          It's the peak hour. You're standing on a crowded public bus, only to
          look out of the window and notice the spacious-looking car next to you
          is empty, save for one driver.
        </p>
        <p class="mt-4 text-gray-600">
          Thousands of vehicles like this exist on the road every morning,
          causing traffic buildup and congestions, and increasing the emission
          of greenhouse gases.
          <strong
            >Vehicles like these are exactly the type of resource that Tompang
            seeks to maximise.</strong
          >
        </p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
      <div class="lg:py-24">
        <h2
          class="text-3xl font-bold sm:text-4xl relative text-black before:absolute before:-bottom-1 before:h-0.5 before:w-full before:origin-left before:scale-x-0 before:bg-red-600 before:transition hover:before:scale-100"
        >
          Eliminating Fee Hikes and Surges
        </h2>

        <p class="mt-4 text-gray-600">
          <strong
            >Tompang connects you with a community of carpoolers who're headed
            in the same direction as you.</strong
          >
        </p>
        <p class="mt-4 text-gray-600">
          All <em>Tompangs</em> are arranged out of goodwill and prices are not
          imposed by our site at all. So how should you show your appreciation
          for your Tompang tribe?
        </p>
        <p class="mt-4 text-gray-600">
          You have the freedom to decide! A little kindness and consideration
          goes a long way.
        </p>
      </div>
      <div
        class="relative h-64 overflow-hidden rounded-lg sm:h-80 md:order-first lg:h-full custom_media flex"
      >
        <img
          alt="save_money_animation"
          src="../../assets/images/money_animation.svg"
          class="absolute inset-0 h-full object-cover mx-auto"
        />
      </div>
    </div>
  </div>
</section>

<section>
  <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
      <div
        class="relative h-64 overflow-hidden rounded-lg sm:h-80 lg:order-last lg:h-full flex"
      >
        <img
          class="absolute inset-0 h-full object-cover sm:mx-auto"
          src="../../assets/images/friends_animation.svg"
          alt="friends_animation"
        />
      </div>

      <div class="lg:py-24">
        <h2
          class="text-3xl font-bold sm:text-4xl relative text-black before:absolute before:-bottom-1 before:h-0.5 before:w-full before:origin-left before:scale-x-0 before:bg-red-600 before:transition hover:before:scale-100"
        >
          Strengthen Communities, Showing Care and Support
        </h2>

        <p class="mt-4 text-gray-600">
          Get connected with new people in your neighbourhood or vicinity by
          signing up now!
          <strong
            >Tompang is here to help you get acquainted with new members of your
            Tompang group for the long run.
          </strong>
        </p>
        <p class="mt-4 text-gray-600">
          Once a friend, always a friend. Let's build a strong and cohesive
          community of carpoolers for life.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="bg-gray-50">
  <div class="p-8 md:p-12 lg:px-16 lg:py-24">
    <div class="mx-auto max-w-lg text-center">
      <h2 class="text-2xl font-bold text-gray-900 md:text-3xl">
        ***Add GIF of how our app's functionalities work below***
      </h2>

      <p class="hidden text-gray-500 sm:mt-4 sm:block">GIF HERE</p>
    </div>
  </div>
</section>

<!-- ATTRIBUTES -->

<!-- <span class="mt-auto attribute-text"><a href="https://storyset.com/people">People illustrations by Storyset</a></span> -->
<!-- <span class="mt-auto attribute-text"><a href="https://storyset.com/group">Group illustrations by Storyset</a></span> -->
