<section class="bg-gray-50 banner">
  <div
    class="mx-auto max-w-screen-xl px-4 py-32 lg:flex lg:h-screen lg:items-center"
  >
    <div class="mx-auto max-w-xl text-center">
      <div class="textbox py-5">
        <h1 class="text-3xl font-extrabold sm:text-5xl text-white">
          Make new acquaintances.
          <strong class="font-extrabold text-red-700 sm:block">
            Just Tompang.
          </strong>
        </h1>

        <p class="mt-4 sm:text-xl sm:leading-relaxed text-white">
          Never worry about high fees again.
        </p>

        <div class="mt-8 flex flex-wrap justify-center gap-4">
          <a
            class="block w-full rounded bg-red-600 px-12 py-3 text-sm font-medium text-white shadow hover:bg-red-700 focus:outline-none focus:ring active:bg-red-500 sm:w-auto"
            href="/get-started"
          >
            Log In
          </a>

          <a
            class="block w-full rounded bg-white px-12 py-3 text-sm font-medium text-red-600 shadow hover:text-red-700 hover:bg-slate-300 focus:outline-none focus:ring active:text-red-500 sm:w-auto"
            href="/about"
          >
            Register
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  
</section>
