<div style="margin: auto">
  <table style="margin: auto; margin-top: 5rem">
    <tr>
      <td colspan="2">
        <span>Welcome to Tompang!</span>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        (Not a member? <a routerLink="/register">Register</a> now!)
      </td>
    </tr>
    <tr>
      <td>Email:</td>
      <td>
        <input
          [(ngModel)]="email"
          [disabled]="isLoading"
          type="text"
          maxlength="30"
          size="30"
        />
      </td>
    </tr>
    <tr>
      <td>Password:</td>
      <td style="width: 65%">
        <input
          [(ngModel)]="password"
          [disabled]="isLoading"
          type="password"
          maxlength="20"
          size="30"
        />
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <input
          [(ngModel)]="usertype"
          [disabled]="isLoading"
          style="margin-left: 0px"
          type="radio"
          name="usertype"
          id="usertype_c"
          value="customer"
        />
        <label
          for="usertype_c"
          style="margin-right: 0.2rem; margin-left: 0.2rem"
          >Customer</label
        >
        <input
          [(ngModel)]="usertype"
          [disabled]="true"
          type="radio"
          name="usertype"
          id="usertype_a"
          value="admin"
        />
        <label
          for="usertype_a"
          style="margin-right: 0.2rem; margin-left: 0.2rem"
          >Admin</label
        >
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <button
          mat-raised-button
          color="primary"
          [style.display]="this.isLoading ? 'none' : 'inline'"
          (click)="login()"
        >
          Login
        </button>
      </td>
    </tr>
    <tr *ngIf="errors.length != 0">
      <td></td>
      <td style="background-color: lightcoral">
        <ul *ngIf="this.errors.length > 1; else elseBlock">
          <li *ngFor="let error of errors">
            {{ error }}
          </li>
        </ul>
        <ng-template #elseBlock>
          {{ this.errors[0] }}
        </ng-template>
      </td>
    </tr>
    <tr *ngIf="success != ''">
      <td></td>
      <td style="background-color: #90ee90">
        {{ success }}
      </td>
    </tr>
  </table>
</div>
