<app-header-user></app-header-user>
<section
  class="relative bg-[url(https://images.pexels.com/photos/7464537/pexels-photo-7464537.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1)] bg-cover bg-center bg-no-repeat"
>
  <div
    class="absolute inset-0 bg-white/75 sm:bg-transparent sm:bg-gradient-to-r sm:from-white/70 sm:to-white/40"
  ></div>

  <div
    class="relative mx-auto max-w-screen-xl px-4 py-32 sm:px-6 lg:flex lg:h-screen lg:items-center lg:px-8"
  >
    <div class="max-w-xl text-center sm:text-left">
      <div class="mb-12">
        <h2 class="sr-only">Steps</h2>
        <div>
          <div class="overflow-hidden rounded-full bg-gray-200">
            <div class="h-2 w-1/2 rounded-full bg-blue-500"></div>
          </div>

          <ol class="mt-4 grid grid-cols-3 text-sm font-medium text-gray-500">
            <li class="flex items-center justify-start text-blue-800">
              <span class="hidden sm:inline"> New Friends </span>

              <svg
                class="h-6 w-6 sm:ml-2 sm:h-5 sm:w-5"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M10 6H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V8a2 2 0 00-2-2h-5m-4 0V5a2 2 0 114 0v1m-4 0a2 2 0 104 0m-5 8a2 2 0 100-4 2 2 0 000 4zm0 0c1.306 0 2.417.835 2.83 2M9 14a3.001 3.001 0 00-2.83 2M15 11h3m-3 4h2"
                />
              </svg>
            </li>

            <li class="flex items-center justify-center text-blue-600">
              <span class="hidden sm:inline"> From Here </span>

              <svg
                class="h-6 w-6 sm:ml-2 sm:h-5 sm:w-5"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"
                />
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"
                />
              </svg>
            </li>

            <li class="flex items-center justify-end text-blue-200">
              <span class="hidden sm:inline"> To Anywhere </span>

              <svg
                class="h-6 w-6 sm:ml-2 sm:h-5 sm:w-5"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z"
                />
              </svg>
            </li>
          </ol>
        </div>
      </div>

      <h1 class="text-3xl font-extrabold sm:text-5xl">
        Find your

        <strong class="block font-extrabold text-red-700">
          special travel kaki
        </strong>
        today.
      </h1>

      <p class="mt-4 max-w-lg sm:text-xl sm:leading-relaxed">
        Hey ---user's name---, welcome back!
      </p>
      <h1 class="text-3xl font-extrabold sm:text-3xl">You're looking for...</h1>

      <div class="mt-8 flex flex-wrap gap-4 text-center">
        <button
          class="block w-full rounded bg-rose-600 px-12 py-3 text-sm font-medium text-white shadow hover:bg-rose-700 focus:outline-none focus:ring active:bg-rose-500 sm:w-auto"
          (click)="changeRole1()"
        >
          A Driver
        </button>

        <button
          class="block w-full rounded bg-white px-12 py-3 text-sm font-medium text-rose-600 shadow hover:text-rose-700 focus:outline-none focus:ring active:text-rose-500 sm:w-auto"
          (click)="changeRole2()"
        >
          Passengers
        </button>
      </div>
    </div>
  </div>
</section>

<div
  id="formTarget"
  *ngIf="role"
  class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8"
>
  <div class="mx-auto max-w-lg text-center">
    <h1 class="text-2xl font-bold sm:text-3xl">Locate Your Carpool Tribe:</h1>

    <p class="mt-4 text-gray-500">
      Fill in the <strong>6-digit postal code</strong> for where you're leaving
      from, and where you're headed toward.
    </p>
  </div>

  <form
    [formGroup]="addNewTrip"
    (submit)="addNewTripDetails()"
    class="mx-auto mt-8 max-w-md mb-0 space-y-4 rounded-lg p-8 shadow-2xl"
  >
    <div>
      <input type="text" hidden class="sr-only" formControlName="role" />
      <label for="email" class="sr-only">From</label>

      <div class="relative">
        <input
          formControlName="fromPostCode"
          type="text"
          class="w-full rounded-lg border-gray-200 p-4 pr-12 text-sm shadow-sm"
          placeholder="Where you're beginning your trip"
        />
        <br />
        <small
          *ngIf="
            addNewTrip.controls['fromPostCode'].errors &&
            addNewTrip.controls['fromPostCode'].hasError('required')
          "
          class="text-red-500"
          >A starting postal code is required.</small
        >
        <small
          *ngIf="
            addNewTrip.controls['fromPostCode'].errors &&
            addNewTrip.controls['fromPostCode'].hasError('pattern')
          "
          class="text-red-500"
          >Postal codes must be exactly 6 digits long.</small
        >
      </div>
    </div>

    <div>
      <label for="password" class="sr-only">To</label>
      <div class="relative">
        <input
          formControlName="toPostCode"
          type="text"
          (keyup)="samePostalCode()"
          class="w-full rounded-lg border-gray-200 p-4 pr-12 text-sm shadow-sm"
          placeholder="Where you're alighting"
        />
        <br />
        <small
          *ngIf="
            addNewTrip.controls['toPostCode'].errors &&
            addNewTrip.controls['toPostCode'].hasError('required')
          "
          class="text-red-500"
          >A destination postal code is required.</small
        >
        <small
          *ngIf="
            addNewTrip.controls['toPostCode'].errors &&
            addNewTrip.controls['toPostCode'].hasError('pattern')
          "
          class="text-red-500"
          >Postal codes must be exactly 6 digits long.</small
        >
        <small *ngIf="isSamePostalCode" class="text-red-500"
          >Starting postal code should not be the same as the
          destination!</small
        >
      </div>
    </div>
    <p class="text-center m-7">___________________________</p>
    <div class="mx-auto max-w-lg text-center">
      <p class="m-6 mt-10 text-gray-500">
        On which days do you need to <em>Tompang</em>? <br />Click all that
        apply.
      </p>
      <br />
      <div class="col-span-4 grid grid-cols-3">
        <label
          for="MarketingAccept"
          class="col-span-1 mt-4"
          *ngFor="let eachDay of dayArray; index as i"
        >
          <div
            class="inline-block rounded-full bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 p-[2px] hover:text-white focus:outline-none focus:ring"
            (click)="monday(i)"
          >
            <input
              type="number"
              hidden
              class="src-only"
              formControlName="days"
              [value]="days"
            />
            <span
              class="block rounded-full bg-white px-8 py-3 text-sm font-medium hover:bg-transparent"
            >
              {{ eachDay }}
            </span>
          </div>
        </label>
      </div>
      <p *ngIf="days[0]">You've selected:</p>
      <p *ngFor="let day of days">{{ dayArray[day - 1] }}</p>
      <small *ngIf="!days[0]" class="text-red-500"
        >At least one day needs to be selected.</small
      >
    </div>
    <p class="text-center m-7">___________________________</p>
    <div class="mx-auto max-w-lg text-center">
      <p class="m-6 mt-10 text-gray-500">
        Which time of day do you need the hitch? <br />You may select just one
        option.
      </p>
      <br />
      <div class="col-span-4 grid grid-cols-3">
        <label
          for="MarketingAccept"
          class="col-span-1 mt-4"
          *ngFor="let eachTime of timeArray; index as i"
        >
          <div
            class="inline-block rounded-full bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 p-[2px] hover:text-white focus:outline-none focus:ring active:text-opacity-75"
            (click)="time(i)"
          >
            <input
              type="number"
              hidden
              class="src-only"
              formControlName="timeOfDay"
            />
            <span
              class="block rounded-full bg-white px-8 py-3 text-sm font-medium hover:bg-transparent"
            >
              {{ eachTime }}
            </span>
          </div>
        </label>
      </div>
      <p *ngIf="timeOfTheDay">You've selected:</p>
      <p>{{ timeArray[timeOfTheDay - 1] }}</p>
      <small *ngIf="!timeOfTheDay" class="text-red-500"
        >At least one time period needs to be selected.</small
      >
    </div>
    <p class="text-center m-7">___________________________</p>
    <div class="mx-auto max-w-lg text-center">
      <p class="m-6 mt-10 text-gray-500">
        Any additional remarks that you want your fellow Tompang-kakis to know?
      </p>
      <br />
      <textarea
        formControlName="description"
        cols="50"
        rows="5"
        type="text"
        class="w-full rounded-lg border-gray-200 p-4 pr-12 text-sm shadow-sm"
        placeholder="Remarks are optional"
      ></textarea>
    </div>

    <div class="flex items-center justify-between">
      <button
        class="ml-3 inline-block rounded-lg bg-gray-300 px-5 py-3 text-sm font-medium text-red-700"
        (click)="resetFields()"
      >
        Start Over
      </button>
      <button
        class="ml-3 inline-block rounded-lg bg-red-700 px-5 py-3 text-sm font-medium text-white"
        [disabled]="!addNewTrip.valid && isSamePostalCode"
      >
        Add To List!
      </button>
    </div>
  </form>
  <div class="mx-auto max-w-lg text-center">
    <small
      >You may view your posted trips in the "All Trips" section
      <a href="#">here</a>.</small
    >
  </div>
</div>
