<app-header-user></app-header-user>
<div class="m-10">
  <form
    [formGroup]="addNewEmail"
    (submit)="sendEmail()"
    class="mx-auto mt-8 max-w-md mb-0 space-y-4 rounded-lg p-8 shadow-2xl"
  >
    <h1 class="text-center font-medium mb-4">Send a Message to your Fellow User</h1>
    <div>
      <img class="rounded-lg shadow-md" src="../../assets/images/send_email.jpg" alt="send_email_img">
    </div>
    <label class="sr-only">To</label>
    <div class="relative">
      <textarea
        formControlName="message"
        type="text"
        class="w-full rounded-lg border-gray-200 p-4 pr-12 text-sm shadow-sm"
        placeholder="Say hi!"
      ></textarea>
      <br />
    </div>

    <button
      class="inline-block rounded-lg bg-red-500 px-5 py-3 text-sm font-medium text-white w-full hover:bg-red-700"
      [disabled]="!addNewEmail.valid"
    >
      Send Email
    </button>
  </form>
</div>
