<!--Chris Code-->
<form [formGroup]="registerForm" (submit)="createUser()">
<table >
  <tr>
    <td>
      <h1 class="text-3xl font-extrabold sm:text-5xl text-white" style="padding:30px">
      Registration Form
      </h1>
    </td>
  </tr>
  <tr>
    <td>
      <h3>Full Name</h3>
    </td>
    <td>
    <input *ngIf="registerForm.controls['pwConfirm'].errors && registerForm.controls['pwConfirm'].hasError('required')">
    </td>
  </tr>
  <tr>
    <td colspan="2">
        <button [disabled]="!registerForm.valid">Submit</button>
    </td>
  </tr>
  </table>
</form>