<!--Chris Code-->
<section class="relative flex flex-wrap lg:h-screen lg:items-center">
  <!-- Register Image Display -->
  <div class="relative h-64 w-full sm:h-96 lg:h-full lg:w-1/2">
    <img
      alt="welcome_image"
      src="../../assets/images/car_bg_2.jpg"
      class="absolute inset-0 h-full w-full object-cover"
    />
  </div>
  <div
    class="grid place-items-center w-full px-4 py-12 sm:px-6 sm:py-16 lg:w-1/2 lg:px-8 lg:py-24"
  >
    <form [formGroup]="registerForm" (submit)="createUser()">
      <table class="mt-8 mb-0 max-w-sm">
        <tr>
          <td colspan="2" class="text-2xl font-bold sm:text-3xl text-center">
            <span>Registration Form</span>
          </td>
        </tr>
        <tr>
          <td colspan="2" class="mt-4 text-gray-500 text-center">
            Please fill up the form with the relevant information.
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <input
              type="text"
              formControlName="name"
              class="relative w-full rounded-lg border-black p-4 pr-12 text-sm shadow-lg"
              placeholder="Please enter your Full Name"
            />
            <div
              *ngIf="
                registerForm.controls['name'].invalid &&
                registerForm.controls['name'].touched
              "
            >
              <span
                *ngIf="registerForm.controls['name'].hasError('required')" class="text-red-500 text-sm"
              >
              <svg class="w-5 mb-1 inline-block" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z"></path>
              </svg>
              Please enter your full name
              </span>
              <label
                *ngIf="registerForm.controls['name'].hasError('minlength')"
              >
              <svg class="w-5 mb-1 inline-block" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z"></path>
              </svg>
                Full Name must be at least 10 characters long
              </label>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <input
              type="text"
              formControlName="phone"
              class="relative w-full rounded-lg border-black p-4 pr-12 text-sm shadow-lg"
              placeholder="Please enter your phone number"
            />
            <br />
            <div
              *ngIf="
                registerForm.controls['phone'].invalid &&
                registerForm.controls['phone'].touched
              "
            >
              <label
                *ngIf="
                  registerForm.controls['phone'].hasError('required') ||
                  registerForm.controls['phone'].hasError('minlength') ||
                  registerForm.controls['phone'].hasError('maxlength')
                " class="text-red-500 text-sm"
              >
              <svg class="w-5 mb-1 inline-block" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z"></path>
              </svg>
                Please enter a valid phone address
              </label>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <input type="date" formControlName="dob" class="relative w-full rounded-lg border-black p-4 pr-12 text-sm shadow-lg"
            placeholder="Please select your Date of Birth"/>
            <div
              *ngIf="
                registerForm.controls['dob'].invalid &&
                registerForm.controls['dob'].touched
              "
            >
              <label class="text-red-500 text-sm" *ngIf="registerForm.controls['dob'].hasError('required')">
                <svg class="w-5 mb-1 inline-block" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z"></path>
                </svg>
                Please enter your Date of Birth
              </label>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <input
              type="text"
              formControlName="username"
              class="relative w-full rounded-lg border-black p-4 pr-12 text-sm shadow-lg"
              placeholder="Please enter your desired user name"
            />
            <br />
            <div
              *ngIf="
                registerForm.controls['username'].invalid &&
                registerForm.controls['username'].touched
              "
            >
              <label
                *ngIf="
                  registerForm.controls['username'].hasError('required') ||
                  registerForm.controls['username'].hasError('minlength')
                " class="text-red-500 text-sm"
              >
              <svg class="w-5 mb-1 inline-block" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z"></path>
              </svg>
                Please enter minimum length of 10 chars
              </label>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <input
              formControlName="email"
              class="relative w-full rounded-lg border-black p-4 pr-12 text-sm shadow-lg"
              placeholder="Please enter your email address"
            />
            <br />
            <div
              *ngIf="
                registerForm.controls['email'].invalid &&
                registerForm.controls['email'].touched
              "
            >
              <label
                *ngIf="
                  registerForm.controls['email'].hasError('required') ||
                  registerForm.controls['email'].hasError('email')
                " class="text-red-500 text-sm"
              >
              <svg class="w-5 mb-1 inline-block" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z"></path>
              </svg>
                Invalid input
              </label>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <input
              formControlName="password"
              class="relative w-full rounded-lg border-black p-4 pr-12 text-sm shadow-lg"
              placeholder="Please enter your desired password"
            />
            <br />
            <div
              *ngIf="
                registerForm.controls['password'].invalid &&
                registerForm.controls['password'].touched
              " class="text-red-500 text-sm"
            >
              <label
                *ngIf="
                  registerForm.controls['password'].hasError('required') ||
                  registerForm.controls['password'].hasError('minlength')
                " class="text-red-500 text-sm"
              >
              <svg class="w-5 mb-1 inline-block" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z"></path>
              </svg>
                Please enter your Password
              </label>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <input
              formControlName="pwConfirm"
              class="relative w-full rounded-lg border-black p-4 pr-12 text-sm shadow-lg"
              placeholder="Please confirm your password"
            />
            <br />
            <div
              *ngIf="
                registerForm.controls['pwConfirm'].invalid &&
                registerForm.controls['pwConfirm'].touched
              " class="text-red-500 text-sm"
            >
              <label
                *ngIf="registerForm.controls['pwConfirm'].hasError('required')"
              >
              <svg class="w-5 mb-1 inline-block" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z"></path>
              </svg>
                Please confirm the password
              </label>
              <label
                *ngIf="registerForm.errors?.['notmatched'] && !(registerForm.controls['pwConfirm'].hasError('required'))"
              >
              <svg class="w-5 mb-1 inline-block" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z"></path>
              </svg>
                Passwords must match
              </label>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <button
              [disabled]="registerForm.invalid"
              class="w-100 inline-block rounded bg-red-500 px-8 py-3 transition hover:scale-110 hover:shadow-xl focus:outline-none focus:ring active:bg-red-700"
            >
              <span
                class="relative text-sm font-medium text-white transition-colors group-hover:text-amber-500"
                >Create Account</span
              >
            </button>
          </td>
          <td>
            <button
            class="inline-block rounded border border-red-500 px-8 py-3 transition hover:scale-110 hover:shadow-xl focus:outline-none focus:ring active:bg-red-700"
            routerLink="/home"
          >
            <span
              class="relative text-sm font-medium text-red-500 transition-colors"
              >Back to Home</span
            >
          </button>
          </td>
        </tr>
      </table>
    </form>
  </div>
</section>
